<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>CIGMA FST SETTAT</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="contact.logo"></ion-img>
      <ion-list>
        <ion-item> Faculter : <strong> {{ contact.name }}</strong></ion-item>
        <ion-item> Téléphone : <strong> {{ contact.tel }}</strong></ion-item>
        <ion-item> E-mail : <strong> {{ contact.mail }}</strong></ion-item>
      </ion-list>
      <ion-img [src]="contact.location"></ion-img>
    </ion-card-content>

  </ion-card>

</ion-content>
